server/vbotserver/Web References/VBotService/vbulletinbot.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:VBotService" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:VBotService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:VBotService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="RemoteUser">
        <xsd:all>
          <xsd:element name="userid" type="xsd:int" />
          <xsd:element name="username" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RemoteUserArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:RemoteUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RequestResult">
        <xsd:all>
          <xsd:element name="Code" type="xsd:int" />
          <xsd:element name="Text" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserCredentials">
        <xsd:all>
          <xsd:element name="Username" type="xsd:string" />
          <xsd:element name="ServiceName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WhoAmIRequest">
    <wsdl:part name="UserCredentials" type="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WhoAmIResponse">
    <wsdl:part name="return" type="tns:RequestResult" />
    <wsdl:part name="RemoteUser" type="tns:RemoteUser" />
  </wsdl:message>
  <wsdl:portType name="VBotServicePortType">
    <wsdl:operation name="WhoAmI">
      <documentation>Returns the user information of the associated user credentials</documentation>
      <wsdl:input message="tns:WhoAmIRequest" />
      <wsdl:output message="tns:WhoAmIResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VBotServiceBinding" type="tns:VBotServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="WhoAmI">
      <soap:operation soapAction="http://www.anothermessageboard.com/vbulletinbot.php/WhoAmI" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VBotService">
    <wsdl:port name="VBotServicePort" binding="tns:VBotServiceBinding">
      <soap:address location="http://www.anothermessageboard.com/vbulletinbot.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>