trunk/server/vbotserver/Web References/VBotService/vbulletinbot.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:VBotService" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:VBotService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:VBotService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="RequestResult">
        <xsd:all>
          <xsd:element name="Code" type="xsd:int" />
          <xsd:element name="Text" type="xsd:string" />
          <xsd:element name="RemoteUser" type="tns:RemoteUser" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserCredentials">
        <xsd:all>
          <xsd:element name="Username" type="xsd:string" />
          <xsd:element name="ServiceName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RemoteUser">
        <xsd:all>
          <xsd:element name="UserID" type="xsd:int" />
          <xsd:element name="Username" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Forum">
        <xsd:all>
          <xsd:element name="ForumID" type="xsd:int" />
          <xsd:element name="Title" type="xsd:string" />
          <xsd:element name="IsNew" type="xsd:boolean" />
          <xsd:element name="IsCurrent" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Thread">
        <xsd:all>
          <xsd:element name="ThreadID" type="xsd:int" />
          <xsd:element name="ThreadTitle" type="xsd:string" />
          <xsd:element name="ForumID" type="xsd:int" />
          <xsd:element name="PostID" type="xsd:int" />
          <xsd:element name="LastPost" type="xsd:int" />
          <xsd:element name="LastPoster" type="xsd:string" />
          <xsd:element name="PostUsername" type="xsd:string" />
          <xsd:element name="ReplyCount" type="xsd:int" />
          <xsd:element name="IsSubscribed" type="xsd:boolean" />
          <xsd:element name="IsNew" type="xsd:boolean" />
          <xsd:element name="DateLine" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ForumListResult">
        <xsd:all>
          <xsd:element name="Result" type="tns:RequestResult" />
          <xsd:element name="CurrentForum" type="tns:Forum" />
          <xsd:element name="ForumList" type="tns:ForumArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ThreadListResult">
        <xsd:all>
          <xsd:element name="Result" type="tns:RequestResult" />
          <xsd:element name="ThreadList" type="tns:ThreadArray" />
          <xsd:element name="ThreadCount" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RemoteUserArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:RemoteUser[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ForumArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Forum[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ThreadArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Thread[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WhoAmIRequest">
    <wsdl:part name="UserCredentials" type="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="WhoAmIResponse">
    <wsdl:part name="return" type="tns:RequestResult" />
  </wsdl:message>
  <wsdl:message name="ListForumsRequest">
    <wsdl:part name="UserCredentials" type="tns:UserCredentials" />
    <wsdl:part name="ForumID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="ListForumsResponse">
    <wsdl:part name="return" type="tns:ForumListResult" />
  </wsdl:message>
  <wsdl:message name="ListParentForumsRequest">
    <wsdl:part name="UserCredentials" type="tns:UserCredentials" />
    <wsdl:part name="ForumID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="ListParentForumsResponse">
    <wsdl:part name="return" type="tns:ForumListResult" />
  </wsdl:message>
  <wsdl:message name="ListThreadsRequest">
    <wsdl:part name="UserCredentials" type="tns:UserCredentials" />
    <wsdl:part name="ForumID" type="xsd:int" />
    <wsdl:part name="PageNumber" type="xsd:int" />
    <wsdl:part name="PerPage" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="ListThreadsResponse">
    <wsdl:part name="return" type="tns:ThreadListResult" />
  </wsdl:message>
  <wsdl:portType name="VBotServicePortType">
    <wsdl:operation name="WhoAmI">
      <documentation>Returns the user information of the associated user credentials</documentation>
      <wsdl:input message="tns:WhoAmIRequest" />
      <wsdl:output message="tns:WhoAmIResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListForums">
      <documentation>Returns a list of forums of the associated forumid</documentation>
      <wsdl:input message="tns:ListForumsRequest" />
      <wsdl:output message="tns:ListForumsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListParentForums">
      <documentation>Returns a list of forums of the associated forumid</documentation>
      <wsdl:input message="tns:ListParentForumsRequest" />
      <wsdl:output message="tns:ListParentForumsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ListThreads">
      <documentation>Returns a list of forums of the associated forumid</documentation>
      <wsdl:input message="tns:ListThreadsRequest" />
      <wsdl:output message="tns:ListThreadsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VBotServiceBinding" type="tns:VBotServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="WhoAmI">
      <soap:operation soapAction="http://www.anothermessageboard.com/vbulletinbot.php/WhoAmI" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListForums">
      <soap:operation soapAction="http://www.anothermessageboard.com/vbulletinbot.php/ListForums" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListParentForums">
      <soap:operation soapAction="http://www.anothermessageboard.com/vbulletinbot.php/ListParentForums" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListThreads">
      <soap:operation soapAction="http://www.anothermessageboard.com/vbulletinbot.php/ListThreads" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.anothermessageboard.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VBotService">
    <wsdl:port name="VBotServicePort" binding="tns:VBotServiceBinding">
      <soap:address location="http://www.anothermessageboard.com/vbulletinbot.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>